@media (min-width: 768px) {
    /* HEADER */
    .header {
        height: 66px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .logotext--h {
        font-size: 28px;
    }

    .logo--h {
        width: 191px;
    }

    .logoimg--h {
        width: 37px;
        height: 29px;
    }

    .opc--h {
        margin-top: 5px;
    }

    /* PRIMARY PAGE */
    .body_title {
        height: 584px;
    }

    .title>h1 {
        font-size: 54px;
    }

    .body_title {
        background-image: url(./components/img/background_tablet.svg);
        background-size: 100% auto; 
    }

    /* SECONDARY PAGE */
    .tela_principal {
        height: 1002px;
        padding: 106px 20px;
    }

    .title_tela_principal {
        height: 149px;
        justify-content: start;
        gap: 24px;
    }

    .tela_principal-container {
        height: 268px;
    }

    .div_h2>h2 {
        font-size: 54px;
        line-height: 65px;
    }

    .button_tela_principal {
        width: 177px;
        height: 69px;

        font-weight: 500;
        font-size: 16px;
    }

    .img_bolinhas_telaprincipal>img {
        width: 454px;
        height: 422px;
    }

    /* FOOTER */
    .footer {
        height: 137px;

        /* align-content: center; */
        /* padding-left: 32px; */
        /* padding-right: 32px; */
    }
    
    .container--f {
        width: 704px;
        height: 40px;
        flex-direction: row;
    }
}

@media (min-width: 1260px) {
    .header {
        height: 92px;
    }
    .header_elements {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .opc--h {
        display: none;
    }
    
    .setor--h {
        display: flex;
        justify-content: space-between;
    }
    /* ---------pagina_02------------- */
    .body_title {
        height: 100vh;
        padding-top: 270px;
        padding-left: 32px;
        padding-right: 32px;
        background-image: url(./components/img/background_desktop.svg);
        background-position: center;
    }
    .body_title > h1 {
        font-size: 64px;
        line-height: 77px;
    }
    .body_title > button {
        width: 219px ;
        height: 63px;
        font-weight: 500;
        line-height: 23px;
    }
    .title {
        height: 254px;
        align-items: flex-start;
        text-align: left;
    }
    /* ------------- principal ----------- */
    .tela_principal {
        height: 120vh;
        flex-direction:row-reverse;
    }
    .tela_principal-container {
        width: 666px;
        height: 294px;
        align-items: flex-start;
    }
    .title_tela_principal {
        width: 666px;
        height: 171px;
        text-align:left ;  
        align-items: flex-start;
    }
    .title_tela_principal >p {
        text-align: left;
    }
    .div_h2 > h2 {
        width: 666px;
        text-align: left;
    }
    .img_bolinhas_telaprincipal >img {
        width: 550px;
        height: 470px;
    }
    .button_tela_principal {
        width: 186px;
        height: 63px;
        font-size: 18px;
        line-height: 23px;
    }
    /* ----------- footer --------------- */
    .container--f {
        width: 573px;
        height: 20px;
        border: none;
        padding-bottom: 0;
    }
    .footer {
        height: 81px;
        align-items: center;
        justify-content: space-between;
        padding: 16px 32px;
    }
    .footer_social {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}
