@media (min-width: 768px) {
    /* HEADER */
    .header {
        height: 66px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .logotext--h {
        font-size: 28px;
    }

    .logo--h {
        width: 191px;
    }

    .logoimg--h {
        width: 37px;
        height: 29px;
    }

    .opc--h {
        margin-top: 5px;
    }

    /* PRIMARY PAGE */
    .body_title {
        height: 584px;
    }

    .title>h1 {
        font-size: 54px;
    }

    .body_title {
        background-image: url(./components/img/background_tablet.svg);
        background-size: 100% auto; 
    }

    /* SECONDARY PAGE */
    .tela_principal {
        height: 1002px;
    }

    .div_h2>h2 {
        font-size: 54px;
    }

    .img_bolinhas_telaprincipal>img {
        width: 454px;
        height: 422px;
    }
}