@media (min-width: 768px) {
    /* HEADER */
    .header {
        height: 66px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .logotext--h {
        font-size: 28px;
    }

    .logo--h {
        width: 191px;
    }

    .logoimg--h {
        width: 37px;
        height: 29px;
    }

    .opc--h {
        margin-top: 5px;
    }

    /* PRIMARY PAGE */
    .body_title {
        height: 584px;
    }

    .title>h1 {
        font-size: 54px;
    }

    .body_title {
        background-image: url(./components/img/background_tablet.svg);
        background-size: 100% auto; 
    }

    /* SECONDARY PAGE */
    .tela_principal {
        height: 1002px;
        padding: 106px 20px;
    }

    .title_tela_principal {
        height: 149px;
        justify-content: start;
        gap: 24px;
    }

    .tela_principal-container {
        height: 268px;
    }

    .div_h2>h2 {
        font-size: 54px;
        line-height: 65px;
    }

    .button_tela_principal {
        width: 177px;
        height: 69px;

        font-weight: 500;
        font-size: 16px;
    }

    .img_bolinhas_telaprincipal>img {
        width: 454px;
        height: 422px;
    }

    /* FOOTER */
    .footer {
        height: 137px;

        /* align-content: center; */
        /* padding-left: 32px; */
        /* padding-right: 32px; */
    }
    
    .container--f {
        width: 704px;
        height: 40px;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 92px;
    }
    .opc--h {
        display: none;
    }

    .setor--h {
        display: flex;
        justify-content: space-between;
    }
}