/* ----------------HEADER---------------- */

.header {
    background-color: #043873;
    height: 56px;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo--h {
    width: 133.97px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoimg--h {
    width: 25.96px;
    height: 20.35px;
}

.logotext--h {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19.644px;
    color: #ffffff;
}

.opc--h {
    width: 42px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opc--h>hr {
    height: 2px;
    background-color: white;
    border: none;
}

/* FIM HEADER */


/* ----------------Primary page---------------- */
.body_title {
    padding: 80px 16px;

    background-color: rgba(4, 56, 115, 1);
    background-image: url(./components/img/background_mobile2.svg);
    background-repeat: no-repeat;
    background-size: 100% 790px;
}

.title {
    width: auto;
    height: 362px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.title>h1 {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.02em;
}

.title>p {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-bottom: 35px;
}

.title>button {
    background-color: rgba(79, 156, 249, 1);
    width: 232px;
    height: 70px;
    border-radius: 8px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/* ----------------Secondary Page---------------- */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tela_principal {
    height: 817px;
    padding: 74px 16px;
}

.tela_principal-container {
    height: 348px;
}

.title_tela_principal {
    height: 218px;
}

/* .mancha_img_telaprincipal {
    position: relative;
    display: flex;
    top: -29px;
    width: 169.55px;
    height: 25.43px;
    left: 115px;
    z-index: -1;
} */

.background_mancha {
    background-image: url(./components/img/mancha_together.svg);
    background-repeat: no-repeat;
    background-position: bottom center ;
    background-size: auto;
}

.div_h2>h2 {
    display: inline;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
}

.title_tela_principal>p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;


    text-align: center;
}


.button_tela_principal {
    width: 185px;
    height: 70px;
    border-radius: 8px;


    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.02em;
    background-color: rgba(79, 156, 249, 1);
    border: none;
}

.img_bolinhas_telaprincipal>img {
    width: 279px;
    height: 260px;
}

/* ----------------Footer---------------- */
.footer {
    height: 210px;
    background-color: #043873;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
}

.container--f {
    height: 160px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;

    min-width: 288px;
    border-bottom: 1px solid #2E4E73;
}

.container--f>li{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}
/* ------------------- Header_desktop ---------------------*/
.header_elements {
    width: 900px;
    height: 60px;
    display: none;
}
.setor--h {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 24px;
}
.setor--h > li {
    font-family: 'DM Sans', sans-serif; 
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
   
    display: flex;
    align-items: center;
}
.seta { 
    background-image: url(./components/img/icon_arrowl-down.svg);
    width: 9px;
    height: 6px;
    margin-left: 20px;
}
.header_btns {
    width: 377px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.btn_login {
    width: 126px;
    height: 60px;
    background: #FFE492;
    border-radius: 8px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #043873;
}
.btn_try{
    width: 227px;
    height: 60px;
    background: #4F9CF9;
    border-radius: 8px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}