.body {
    width: 320px;
}

/* ----------------Alexandre---------------- */

.header { /*defino o tamanho total da header*/
    width: 320px;
    height: 56px;
    background-color: #043873;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo--h {
    margin-left: 16px;
    width: 133.97px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoimg--h {
    width: 25.96px;
    height: 20.35px;
}

.logotext--h {
    color: white;
    width: 101px;
    height: 24px;
    font-size: 19.644px;
    font-weight: 700;
    line-height: 24px;
}

.opc--h {
    width: 42px;
    height: 24px;
    margin-right: 16px;
}

.hr,.hr2 {
    width: 42px;
    height: 1.5px;
    background-color: white;
    border: none;
}

.hr2 {
    margin-top: 10px;
}
/* FIM HEADER */

.footer {
    width: 320px;
    height: 210px;
    background-color: #043873;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container--f {
    width: 288px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start
}

.texto--f, .texto1--f {
    color: white;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.texto--f {
    margin-top: 20px;
}

/*FIM FOOTER*/



























































































































































/* ----------------Gustavo---------------- */

.body_title {
    height: 582px;
    background-color: rgba(4, 56, 115, 1);
    ;
    background-image: url(components/img/background_mobile.svg);
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
}


.title>h1 {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.02em;
}

.title>p {
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    padding-top: 24px;
    margin: 16px;
}

.title>button {
    margin-top: 60px;
    background-color: rgba(79, 156, 249, 1);
    ;
    width: 232px;
    height: 70px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-left: 44px;
    
}








































































































































































































/* ----------------Gabriel---------------- */
.tela_principal {
    display: flex;
    align-items: center;
    height: 817px;
    width: 320px;
    top: 578px;
    padding: 0px 16px 0px 16px;
    flex-direction: column;
    font-family: Inter;
}

.title_tela_principal>h2 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    z-index: 10;
    margin-top: 74px;
 
}

.mancha_img_telaprincipal {
    display: flex;
    position: relative;
    height: 25px;
    width: 50%;
    top: -29px;
    transform: scale(115%) scaleY(200%);
    left: 115px;
    z-index: -1;
}

.descrição_tela_principal>p {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}

.button_tela_principal{

}

.button_tela_principal>button {
    display: flex;
    position: relative;
    align-items: center;
    width: 185px;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    background-color: rgba(79, 156, 249, 1);
    border: none;
    top: 60px;

}

.img_bolinhas_telaprincipal{
    display: flex;
    position: relative;
    top: 150px;
}
